.vertical-offset-100{
    padding-top: 100px;
}

.panel-heading{
	text-align: center;
}

.btn{
	background-color: rgba(6, 62, 131, 55%);
	border-style: none;
}

.panel-body{
	height: 270px;
}

.feedback-input{
	height: 120px;
	width: 300px;
	border-radius: 6px;
	border-color: #C8C8C8;
	padding: 5px;
}


